body{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.822);
    

}
p{
    font-size: 19px;
    color: #444;
}
h3{
    font-size: 25px
}
h1{
    text-transform: capitalize;
}

section{
    width: 90%;
    margin: 0 auto;
}
.intro-section{
    margin-top: 100px;
}
.row{
    display: flex;
}

.intro{
    width: 40%;
    margin-left: 5%;
}
.intro .title {
    

    margin-bottom: 5px;
    padding: 0 10px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    border-left: 3px solid #9B0000;
    border-radius: 5px;
}
.intro .title h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.mission{
    color: #9c3e3e;
}
.link-button{
   
   
    padding: 10px 30px;
    margin:10px 0;
    margin-bottom: 30px;
    background-color: #9B0000;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: .5s;


}
.link-button:hover{
    background-color:#000B49 ;
}



.row .intro img{
    width: 70%;
    margin-left: 100px;
  
   
}
.mission-section h1{
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    color: #000B49;
}
.year{
    color: #9B0000;

}

.card{
    width: 30%;
    margin: 3% 2%;
    padding: 20px;
    border-radius: 20px;
    transition: .5s;
    
}

.card:hover{
    box-shadow: 3px 4px 17px black;
    cursor: pointer;
}
.card p{
    color: #444;
    
}
.card img{
    width: 60%;
}

#card-1{
    background-color: #d3dedcd0;
    
}
#card-2{
    background-color: #fff89ab0;

}
#card-3{
    background-color: #fed1efb7;

}
.development{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url("./images/pictures/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
    
}
.dev-text{
    width: 50%;
}
.dev-text h1{
    font-size: 30px;
    margin: 0;
    font-weight: 700;
}
.dev-image{
    width: 40%;
}
.dev-image img{
    width: 70%;
    margin-left: 5%;
}


.comunity{
    margin: 100px auto;
}
.com-text{
    width: 50%;
    
}
.com-text h1{
    font-size: 30px;
    margin: 0;
    font-weight: 700;
}
.com-image{
    width: 40%;
}
.com-image img{
    width: 70%;
    float: right;
    margin-left: 4%;
    
}


.footer-section{
    height: 200px;
    background-color: #040303;
}
.footer-section h2{
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    color: #fff;
    padding-top: 30px;
    font-family: 'Cookie', cursive;
}
.footer-section p{
    text-align: center;

}
.ft-text{
    color: #9B0000;
}
.languages h1{
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
}
.logo-text{
    display: flex;
}

.block{
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    
    
}


.block h3 {
    margin: 0;
    padding: 0;
  
}
.block img{
    width: 50px;
    margin-right: 10px;
}
#block-1{background-color: #E7FBBE;}
#block-2{background-color: #FFCBCB;}
#block-3{background-color: #D9D7F1;}



   